<!DOCTYPE html>
<html>


<head>


<title>Faculty Analytics</title>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet">



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<style>


body{

background:#f4f7fc;

}



.card{

border:none;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.1);

}



</style>


</head>



<body>



<nav class="navbar bg-primary px-4">


<span class="navbar-brand text-white">


📊 Faculty Analytics


</span>



<a href="{{url_for('faculty_dashboard')}}"
class="btn btn-light">


Back Dashboard


</a>


</nav>







<div class="container mt-4">





<div class="row">





<div class="col-md-3">


<div class="card p-3 text-center">


<h5>

Students

</h5>


<h2>

{{total_students}}

</h2>


</div>


</div>





<div class="col-md-3">


<div class="card p-3 text-center">


<h5>

Documents

</h5>


<h2>

{{total_documents}}

</h2>


</div>


</div>





<div class="col-md-3">


<div class="card p-3 text-center">


<h5>

Checks

</h5>


<h2>

{{total_checks}}

</h2>


</div>


</div>





<div class="col-md-3">


<div class="card p-3 text-center">


<h5>

Average Plagiarism

</h5>


<h2>

{{avg_plagiarism}}%

</h2>


</div>


</div>




</div>







<hr>





<div class="card p-4 mt-4">


<h4>

Student Plagiarism Analysis

</h4>


<canvas id="studentChart"></canvas>


</div>







<div class="card p-4 mt-4">


<h4>

Plagiarism Distribution

</h4>


<canvas id="pieChart"></canvas>


</div>







</div>








<script>


const names = {{ student_names | tojson }};

const scores = {{ student_scores | tojson }};





new Chart(
document.getElementById('studentChart'),
{


type:'bar',


data:{


labels:names,


datasets:[{


label:'Plagiarism %',


data:scores



}]


},



options:{


responsive:true



}


});







new Chart(
document.getElementById('pieChart'),

{


type:'pie',


data:{


labels:[

"Low (<30%)",

"Medium (30-70%)",

"High (>70%)"

],


datasets:[{


data:[

scores.filter(x=>x<30).length,

scores.filter(x=>x>=30 && x<70).length,

scores.filter(x=>x>=70).length

]


}]


}



}

);



</script>





</body>


</html>