{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h2>Welcome {{ current_user.fullname }}</h2>

<div class="row mt-4">

<div class="col-md-3">
<div class="card bg-primary text-white">
<div class="card-body">
<h5>Total Documents</h5>
<h2>{{ total_docs }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-white">
<div class="card-body">
<h5>Reports</h5>
<h2>{{ total_results }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-warning">
<div class="card-body">
<h5>Average Plagiarism</h5>
<h2>{{ avg_plagiarism }}%</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-info text-white">
<div class="card-body">
<h5>Role</h5>
<h2>{{ current_user.role }}</h2>
</div>
</div>
</div>

</div>

<div class="mt-5">

<a href="{{ url_for('upload') }}" class="btn btn-primary">
Upload Document
</a>

<a href="{{ url_for('my_reports') }}" class="btn btn-success">
My Reports
</a>

<a href="{{ url_for('profile') }}" class="btn btn-dark">
Profile
</a>

<a href="{{ url_for('upload_history') }}"
class="btn btn-info">

My Upload History

</a>
</div>

</div>

{% endblock %}